alabaster==0.7.12
altgraph==0.16.1
Babel==2.6.0
certifi==2019.3.9
chardet==3.0.4
Click==7.0
colorama==0.4.1
cycler==0.10.0
docutils==0.14
future==0.17.1
idna==2.8
imagesize==1.1.0
iso8601==0.1.12
Jinja2==2.11.3
kiwisolver==1.0.1
lxml==4.3.2
macholib==1.11
Mako==1.0.9
Markdown==3.1
MarkupSafe==1.1.1
matplotlib==3.0.3
numpy==1.16.2
packaging==19.0
pandas==0.24.2
pandas-datareader==0.7.0
pdoc3==0.6.1
pefile==2019.4.14
Pygments==2.3.1
PyInstaller==3.4
pyparsing==2.3.1
PyQt5==5.11.3
PyQt5-sip==4.19.14
PyQt5-stubs==5.11.3.3
pyqt5-tools==5.11.3.1.4
pyserial==3.4
python-dateutil==2.8.0
python-dotenv==0.10.1
pytz==2018.9
pywin32-ctypes==0.2.0
PyYAML==5.1
regex==2019.4.14
requests==2.21.0
serial==0.0.97
six==1.12.0
snowballstemmer==1.2.1
urllib3==1.24.1
wrapt==1.11.1
